{% extends 'base.html.twig' %}

{% block title %}Créé{% endblock %}

{% block body %}
     {% if user is null%}
<form method="post">
 
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        <label for="inputNomComplet" class="sr-only">Nom</label>
        <input type="text" name="nomComplet" id="inputNomComplet" class="form-control" placeholder="Nom Complet"  autofocus>
         <label class="sr-only">Prénom</label>
        <input type="text" name="prenom" id="inputNomComplet" class="form-control" placeholder="Prénom"  autofocus>
        <label for="inputNomComplet" class="sr-only">Nom d'utilisateur</label>
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Nom d'utilisateur" required autofocus>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email"  autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="custom-control custom-checkbox mr-sm-2">
            <input type="checkbox" class="custom-control-input" id="customControlAutosizing" name="role" value="ROLE_ADMIN">
            <label class="custom-control-label" for="customControlAutosizing">Rôle Admin</label>
        </div>
        
        <button class="btn btn-lg btn-primary" type="submit">
            Register
        </button>
    </form>
    {% else %}
   Nouveau user créé.
   <br> Nom : {{ user.nom }}
    <br> Prénom : {{ user.prenom }}
    <br> username : {{ user.username }}
    {% endif %}
{% endblock %}
