
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
/.idea/shelf/Changes/shelved.patch
/.idea/shelf/Changes.xml
/.idea/php.xml
/.idea/workspace.xml
/.idea/phpunit.xml
/.idea/vcs.xml
/migrations/.gitignore
/.idea/.gitignore
/.idea/codeception.xml
/.idea/modules.xml
/.idea/phpspec.xml
/.idea/symfony.iml
